/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  position: relative;
  font-size: 40px;
  margin: 60px 0 0 0;
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  padding-top: 100px;
}

.section-subtitle {
  color: #95a5a6;
  font-size: 20px;
  margin-top: 1px;
  text-align: center;
  font-style: italic;
}

/*navigation*/
.page-name a {
  font-size: 35px;
  font-family: "Yellowtail", cursive;
  color: #f1c40f;
  /*padding-right: 160px;*/
}

.navigation .row {
  align-items: center;
}

.navigation .row .col-lg-9 {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  padding-top: 20px;
}

.navigation ul {
  display: inline-flex;
}

.navigation ul li {
  margin: 0 18px;
  list-style-type: none;
}

.navigation ul li a {
  text-decoration: none;
}

.nav-right {
  justify-content: right;
}

.nav-right a {
  font-size: 15px;
  color: #95a5a6;
  font-family: "Open Sans", sans-serif;
  text-shadow: black;
}

.nav-right a:hover {
  color: #f1c40f;
}

/*splash*/
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
  background-attachment: none;
  color: white;
  min-height: 500px;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.splash-inner h1 {
  font-family: "Merriweather", serif;
  font-size: 35px;
  font-style: italic;
  text-align: center;
  padding-top: 150px;
  text-shadow: 3px 3px black;
}

.splash-inner h2 {
  font-size: 70px;
  margin: 30px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px black;
}

/*button*/
.bttn {
  display: table;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 20px 50px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-position: 100% 0;
  background-size: 300%;
}

.bttn:hover {
  background-position: 0 100%;
  color: white;
}

.bttn-one {
  background-color: #f1c40f;
  color: white;
}

.bttn-one:hover {
  color: #f1c40f;
  background-color: white;
}

/*services*/
.services h3 {
  color: black;
  text-align: center;
}

.services p {
  color: #95a5a6;
  text-align: center;
}

.services .row {
  padding-top: 30px;
}

.services .row .col-lg-4 {
  border: none;
  margin: 48px 0;
}

.services .row .col-lg-4 i {
  color: #f1c40f;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.services .card {
  margin: 0 2px;
  border: none;
}

/*portfolio*/
.portfolio {
  background-color: #ecf0f1;
}

.portfolio .row {
  margin-top: 60px;
  padding-bottom: 96px;
}

.portfolio .row .card {
  background-color: white;
  margin: 20px;
  border: none;
}

.portfolio .row .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.portfolio .row .card h3 {
  color: black;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
}

.portfolio .row .card p {
  color: #95a5a6;
  text-align: center;
  margin-top: 0;
  font-family: "Merriweather", serif;
  font-style: italic;
  padding-bottom: 15px;
}

/*footer*/
footer {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
}

footer .col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

footer .col-lg-4 ul {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #6c757d;
}

footer .col-lg-4 ul li {
  display: inline-flex;
}

footer .col-lg-4 ul li p {
  padding-top: 0;
}

.socialmedia {
  margin: 48px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.socialmedia li {
  margin: 0 5px;
  text-decoration: none;
  font-size: 0;
  text-align: center;
}

.socialmedia li i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  background: black;
  border-radius: 50%;
  color: white;
}

/*media*/
@media (max-width: 480px) {
  .services, .portfolio {
    flex-direction: column;
  }
  .splash-inner h1 {
    padding-top: 35px;
    font-size: 27px;
  }
  .splash-inner h2 {
    font-size: 48px;
  }
  .navigation ul {
    flex-flow: wrap;
    justify-content: center;
  }
  .navigation ul li {
    margin: 0 5px;
  }
  .nav-right {
    padding-left: 0px;
    justify-content: right;
    /*left: -45px;*/
    position: relative;
  }
  .nav-right a {
    font-size: 14px;
  }
}

@media (max-width: 995px) {
  .services, .portfolio {
    flex-direction: column;
  }
  .page-title {
    padding-top: 20px;
  }
  .navigation ul li {
    margin: 2px 5px;
  }
  .splash-inner h1 {
    padding-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */