$font-text: 'Merriweather', serif;
$font-header: 'Open Sans', sans-serif;
$font-logo: 'Yellowtail', cursive;
$color-y: #f1c40f;
$transition: all 1s;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    padding: 0 20px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.section-title{
    position: relative;
    font-size: 40px;
    margin: 60px 0 0 0;
    font-family: $font-header;
    color: black;
    text-align: center;
    padding-top: 80px;
    }

.section-subtitle {
    color: silver;
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
}

/*navigation*/

.page-name a {
    font-size: 35px;
    font-family: $font-logo;
    color: $color-y;
    padding-right: 160px;
}

.navigation {
    padding-top: 20px;
    ul {
        display: inline-flex;
        li {
            margin: 0 18px;
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
}

.nav-right {
    justify-content: right;
    padding-left: 160px;
    a {
        font-size: 15px;
        color: silver;
        font-family: $font-header;
        text-shadow: black;
        &:hover {
            color: $color-y;
        }
    }   
}

/*splash*/

.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-attachment: none;
    color: white;
    min-height: 500px;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
    h1 {
        font-family: $font-text;
        font-size: 35px;
        font-style: italic;
        text-align: center;
        padding-top: 150px;
        text-shadow: 3px 3px black;
    }
    
    h2 {
        font-size: 70px;
        margin: 30px 0;
        font-family: $font-header;
        font-weight: 400;
        text-align: center;    
        }
    }

/*button*/

.bttn {
    display: table;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 20px 50px;
    border-radius: 3px;
    font-family: $font-header;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    &:hover {
        background-position: 0 100%;
        color: white;
    }
}

.bttn-one {
    background-color: $color-y;
    color: white;
    &:hover {
        color: $color-y;  
        background-color: white;  
    }
}

/*services*/

.services {
    h3 {
        color: black;
        text-align: center;
    }
    p {
        color: silver;
        text-align: center;
    }
}
.services .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .col-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin: 48px 0;
        i {
            color: $color-y;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
    }   
}

.services .card {
    margin: 0 2px;
}

/*portfolio*/

.portfolio {
    background-color: #ecf0f1;
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .col-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                background-color: white;
                margin: 20px;
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                h3 {
                    color: black;
                    text-align: center;
                    margin-bottom: 5px;
                    font-family: $font-header;
                }
                p{
                    color: silver;
                    text-align: center;
                    margin-top: 0;
                    font-family: $font-text;
                    font-style: italic;
                }
            }
        }
    }
}